@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.green-change {
    background-color: lightgreen;
    color: #007200;
    padding: 6px;
    border-radius: 5px;
    font-weight: 600;
}

.red-change {
    background-color: rgba(255, 53, 53, 0.1);
    color: #a4161a;
    padding: 6px;
    border-radius: 5px;
    font-weight: 600;
}

.no-change {
    background-color: rgba(67, 65, 65, 0.1);
    color: grey;
    padding: 6px;
    border-radius: 5px;
    font-weight: 600;
}