/* Header font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	@apply font-sans;
}

.center {
	margin: auto;
	width: 50%;
}

.green-change {
	color: #007200;
	padding: 6px;
	border-radius: 5px;
	font-weight: 600;
}

.red-change {
	color: #a4161a;
	padding: 6px;
	border-radius: 5px;
	font-weight: 600;
}

.no-change {
	color: grey;
	padding: 6px;
	border-radius: 5px;
	font-weight: 600;
}

.scroll-btn:hover {
	background-color: gray;
}

#navbar-js {
	transition: top 0.3s;
}

